
<div class="container-fluid main-wrapper">
  <nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
  <div class="navbar-header">
    <!-- <a class="navbar-brand" href="#"><span></span></a> -->
  </div>

  <ul class="nav navbar-nav">
    <li>
      <a routerLink="welcome" title="home page">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        <span> Home</span>
      </a>
    </li>


    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Admin<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a routerLink="/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span> Manage Users</span></a>
        </li>
      </ul>
    </li>
  </ul>

  </div>
  </nav>
</div>
